
body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;    
    margin: 0;
  }

 main {
    margin-top: 48px;
    flex: 1;           /*! It occupies all the available space*/    
    display: flex;        
    align-items: center;
    justify-content: center; 
  }


form>div>div>div {
    /*label+input*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

form>div>div {
    /*secteur+metier, nivau+salaire*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

form>div {
    /*inputs*/
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    width: 554px;
    padding: 40px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.40);

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

input {
    display: flex;
    width: 233px;
    padding: 12px 16px;
    align-items: center;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid var(--Light-Gray, #CCC);
    background: rgba(255, 255, 255, 0.20);
}

select {
    width: 233px;
    padding: 12px 16px;
    border-radius: 6px;
    border: 1px solid var(--Light-Gray, #CCC);
    background: rgba(255, 255, 255, 0.20);

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="%23000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"/></svg>');
    background-repeat: no-repeat;
    background-position: right 16px center;
    /* <-- controla aquí la posición */
    background-size: 16px;

}

.btn-submit {
    width: 100%;
    height: 36px;
    border-radius: 8px;
    background: Black;
    color: white;
    align-items: center;


}

.result-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 8px;
}



.box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 233px;
    padding: 12px 16px;
    align-items: flex-start;
    border-radius: 6px;
border: 1px solid var(--Light-Gray, #CCC);

}


.box p {
    color: var(--Dark-Gray, #8A879C);
    font-size: 16px;
}

.box h2 {
    font-size: 52px;
    font-weight: 600;
    letter-spacing: -1.04px;
}

.result-details p {
    font-weight: 400;
}

button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
}

